<div class="cplo__logo">
	<%= link_to root_path do %>
		<div class="cplo__logo--inner">
			<div class="cplo__logo--text cplo__logo--text-cat">
				cat
			</div>
			<div class="cplo__logo--image">
				<%= render 'layouts/svg_logo' %>
			</div>
			<div class="cplo__logo--text cplo__logo--text-play">
				play
			</div>
		</div>
	<% end %>
</div>
