<% provide(:base_title, "Cat Play") %>
<% provide(:page_title, "Technical") %> 
<div class="cpte__header">
	<div class="cpte__logo">
		<%= render 'cat_play/page_logo_home_link' %>
	</div>
	<div class="cpte__sub-header">
		<div class="cpte__sub-header--inner">
			The oily bits and where to find them
		</div>
	</div>
</div>
<div class="cpte__tbd">
	<div class="cpte__tbd-inner">
		<%= image_tag("tbd.jpg", alt: "To Be Done") %>
	</div>
</div>
