@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {   
	box-sizing:         border-box;   
}

/* FONTS */
/* Load external */
@import url('https://fonts.googleapis.com/css?family=Coming+Soon');

/* Font family definitions */
$cp__header--font-family: 'Coming Soon', Arial, sans-serif;
$cp__content--font-family: Arial, Helvetica, sans-serif;

/* Mobile-first fonts
(font-style [font-variant] font-weight font-size/line-height font-family)
*/
$cpho__logo--font: normal bold 50px/100% $cp__content--font-family;
$cpho__header--font: normal 900 3em/100% $cp__header--font-family;

$cpco__header--font: normal 900 3em/100% $cp__header--font-family;
$cpco__content--font: normal 900 3em/100% $cp__content--font-family;
$cpco__subheader--font: normal 900 3em/100% $cp__content--font-family;
$cpco__social-media-font: normal 900 3em/100% $cp__content--font-family;
$cpco__contact-font: normal 900 3em/100% $cp__content--font-family;
$cpco__copyright-notice-font: normal 900 3em/100% $cp__content--font-family;

/* COLOURS */
$cp__background-colour: yellow;
$cp__foreground-colour: black;
$cp__header-background--colour: #ffb000;

$cpho__pages-link-image--background-colour: white;
$cpho__pages-link-image--border-colour--journal: blue;
$cpho__pages-link-image--border-colour--technical: green;
$cpho__pages-link-image--border-colour--contact: red;
$cpho__pages-link-text--colour: white;

$cpco__logo-background--colour: white;
$cpco__header-text--colour: white;
$cpco__subheader-text--colour: white;
$cpco__social-media-text--colour: white;
$cpco__contact-text--colour: white;

/* Universal */
html {
	width: 100%;
	height: 100%;
}

body {
	height: 100%;
	font-size: 100%;
	background-color: $cp__background-colour;
	color: $cp__foreground-colour;
}

img {
	display: block;
	font-size: 0;
	line-height: 0;
}

* {
	margin: 0;
	padding: 0;
}

a, a:link, a.visited, a:hover, a:active {
	color: $cp__foreground-colour;
	text-decoration: none;
	outline: none;
}

h1, h2, h3, p {
	line-height: 1;
}

/* COMMON ELEMENTS */
/* Page Logo / Home Link */
.cplo__logo {
	height: 84px;
	width: 300px;
}

.cplo__logo--inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 300px;
}

.cplo__logo--text {
	font: $cpho__logo--font;
	width: 117px;
	height: 67px;
}

.cplo__logo--text-cat {
	text-align: right;
	padding-right: 6px;
}

.cplo__logo--text-play {
	padding-left: 6px;
}

.cplo__logo--image {
	width: 67px;
}

.cplo__logo--image img {
	max-width: 100%;
}

/* CAT PLAY HOME PAGE */
/* Parallax */
.cpho__parallax {
	-webkit-perspective: 100px;
	perspective: 100px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-perspective-origin-x: 100%;
	perspective-origin-x: 100%;
}

/* Slide */
.cpho__slide--group {
	visibility: hidden;
	position: relative;
	height: 0px;
	width: 100vw;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	z-index: 1;
}

.cpho__slide {
	position: absolute;
	height: 100vh;
	width: 100vw;
	-webkit-transform-origin-x: 100%;
	transform-origin-x: 100%;
}

.cpho__slide > img { 
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	overflow: hidden;
}

/* Slides */
.cpho__slides--group {
	position: relative;
	height: 450px;
	width: 100vw;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	z-index: 1;
}

.cpho__slide-layer {
	position: absolute;
	height: 100vh;
	width: 100vw;
	-webkit-transform-origin-x: 100%;
	transform-origin-x: 100%;
}

.cpho__slide-layer-0 {
	-webkit-transform: translateZ(-250px) scale(3.5);
	transform: translateZ(-250px) scale(3.5);
}

.cpho__slide-layer-1 {
	-webkit-transform: translateZ(-200px) scale(3);
	transform: translateZ(-200px) scale(3);
}

.cpho__slide-layer-2 {
	-webkit-transform: translateZ(-150px) scale(2.5);
	transform: translateZ(-150px) scale(2.5);
}

.cpho__slide-layer-3 {
	-webkit-transform: translateZ(-100px) scale(2);
	transform: translateZ(-100px) scale(2);
}

.cpho__slide-layer-4 {
	-webkit-transform: translateZ(-50px) scale(1.5);
	transform: translateZ(-50px) scale(1.5);
}

.cpho__slide-layer-5 {
	-webkit-transform: translateZ(0px) scale(1);
	transform: translateZ(0px) scale(1);
}

.cpho__slide-layer > img { 
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	overflow: hidden;
}

/* Content */
.cpho__content--group {
	position: relative;
	width: 100vw;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	z-index: 2;
}

.cpho__content {
	background-color: $cp__background-colour;
}

/* Logo */
.cpho__header {
	position: absolute;
	left: 50%; /* Horizontally center the image; 50% - 1/2 width of image */
	-webkit-transform: translate(-50%, -445px);
	transform: translate(-50%, -445px);
}

/* Page Links */
.cpho__page-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.cpho__page-link {
	position: relative;
}

.cpho__page-link > img {
	width: 90vw;
	max-width: 992px;
	margin-bottom: 0;
}

.cpho__page-link-inner {
	position: absolute;
}

.cpho__page-link-inner--journal {
	top: 9%;
	left: 22%;
	width: 57%;
	height: 67%;
}

.cpho__page-link-inner--technical {
	top: 20%;
	left: 27%;
	width: 57%;
	height: 58%;
}

.cpho__page-link-inner--contact {
	top: 19%;
	left: 24%;
	width: 52%;
	height: 58%;
}

.cpho__page-link-text {
	position: absolute;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font: $cpho__header--font;
	font-size: 2.7em;
	color: $cpho__pages-link-text--colour;
}

.cpho__page-link-text--odd {
	left: 0;
	right: auto;
}

.cpho__page-link-text--even {
	left: auto;
	right: 0;
}

.cpho__page-link-image {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cpho__page-link-image img {
	position: absolute;
	top: 50%;
	left: 50%;
	bottom: auto;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 90%;
}

.cpho__page-link-image--odd {
	left: auto;
	right: 0;
}

.cpho__page-link-image--even {
	left: 0;
	right: auto;
}

.cpho__page-link-image--journal {
	width: 23%;
	height: 100%;
}

.cpho__page-link-image--technical {
	width: 23%;
	height: 100%;
}

.cpho__page-link-image--contact {
	width: 25.2%;
	height: 100%;
}

.cpho__page-link--base {
	padding-bottom: 350px;
}

/* Footer */
.cpho__footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-end;
}

.cpho__copyright-notice {
	font: $cpco__copyright-notice-font;
	font-size: 3vw;
	margin-right: 20px;
}

/* CAT PLAY JOURNAL PAGE */
/* Header */
.cpjo__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-bottom: 10px;
	background-color: $cp__header-background--colour;
}

/* Logo */
.cpjo__logo {
	margin-top: 10px;
}

/* Sub-header */
.cpjo__sub-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.cpjo__sub-header--inner {
	font: $cpco__content--font;
	font-style: italic;
	text-align: center;
	font-size: 15px;
	line-height: 1.2;
}

/* TBD */
.cpjo__tbd {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 10px 0;
}

.cpjo__tbd-inner > img {
	width: 80vw;
	max-width: 580px;
	border: 5px solid black;
	border-radius: 10px;
}

/* CAT PLAY TECHNICAL PAGE */
/* Header */
.cpte__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-bottom: 10px;
	background-color: $cp__header-background--colour;
}

/* Logo */
.cpte__logo {
	margin-top: 10px;
}

/* Sub-header */
.cpte__sub-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.cpte__sub-header--inner {
	font: $cpco__content--font;
	font-style: italic;
	text-align: center;
	font-size: 15px;
	line-height: 1.2;
}

/* TBD */
.cpte__tbd {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 10px 0;
}

.cpte__tbd-inner > img {
	width: 80vw;
	max-width: 580px;
	border: 5px solid black;
	border-radius: 10px;
}

/* CAT PLAY CONTACT PAGE */
/* Header */
.cpco__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-bottom: 10px;
	background-color: $cp__header-background--colour;
}

/* Logo */
.cpco__logo {
	margin-top: 10px;
}

/* Sub-header */
.cpco__sub-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.cpco__sub-header--inner {
	font: $cpco__content--font;
	font-style: italic;
	text-align: center;
	font-size: 15px;
	line-height: 1.2;
}

/* Methods */
.cpco__methods--container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.cpco__methods--row {
	width: 100%;
}

.cpco__methods--common {
	padding-top: 20px;
	padding-bottom: 20px;
}

.cpco__methods-section {
	width: 100%;
	padding: 20px 20px 20px 20px;
	background-color: green;
}

.cpco__methods--header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.cpco__methods--header > div {
	font: $cpco__header--font;
	color: $cpco__header-text--colour;
	font-size: 6vw;
	line-height: 1.5;
}

.cpco__methods--subheader {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.cpco__methods--subheader > div {
	font: $cpco__subheader--font;
	color: $cpco__subheader-text--colour;
	font-size: 1.2em;
	line-height: 1.5;
	margin-bottom: 20px;
}

/* Social Media */
.cpco__social-media-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.cpco__social-media--inner {
	margin-bottom: 10px;
}

.cpco__social-media--link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.cpco__social-media--link > img {
	width: 30px;
	height: 30px;
}

.cpco__social-media--link > div {
	font: $cpco__social-media-font;
	color: $cpco__social-media-text--colour;
	font-size: 1.1em;
	margin-left: 10px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: none;
	    -ms-hyphens: none;
	        hyphens: none;
	word-break: break-all;
}

/* Contact */
.cpco__contact .error-box {
	font: $cpco__contact-font;
	color: red;
	background-color: white;
	font-size: 1.5em;
	text-align: left;
	border: 3px solid red;
	padding: 5px;
	margin-bottom: 15px;
}

.cpco__contact .error-box ul {
	margin-left: 20px;
	margin-bottom: 0;
}

.cpco__contact .error-box li {
	text-align: left;
}

.cpco__contact .notice-box {
	font: $cpco__contact-font;
	color: $cpco__contact-text--colour;
	font-size: 2em;
	padding: 5px;
	text-align: center;
	border: 3px solid white;
	margin-bottom: 10px;
}

.cpco__contact .cpco__form-group-send {
	margin-bottom: 0;
}

.cpco__contact .cpco__btn-send {
	color: white;
	background-color: black;
	border-color: black;
}

/* MEDIA QUERIES */
/* IE Hacks */
@media only screen and (-ms-high-contrast: none), (-ms-high-contrast: active)
{
	/* Slide */
	.cpho__slide--group {
		visibility: visible;
		height: 450px;
	}


	/* Slides */
	.cpho__slides--group {
		visibility: hidden;
		height: 0px;
	}
}

@supports (-ms-ime-align: auto) {
	/* Slide */
	.cpho__slide--group {
		visibility: visible;
		height: 450px;
	}


	/* Slides */
	.cpho__slides--group {
		visibility: hidden;
		height: 0px;
	}
}

/* Responsive Screens */
@media only screen and (min-width : 400px) {

	/* CAT PLAY HOME PAGE */
	/* Page Links */
	.cpho__page-link-text {
		font-size: 3.2em;
	}
}

@media only screen and (min-width : 480px) {

	/* CAT PLAY HOME PAGE */
	/* Page Links */
	.cpho__page-link-text {
		font-size: 3.9em;
	}

	/* CAT PLAY JOURNAL PAGE */
	/* Sub-header */
	.cpjo__sub-header--inner {
		font-size: 3vw;
	}

	/* CAT PLAY TECHNICAL PAGE */
	/* Sub-header */
	.cpte__sub-header--inner {
		font-size: 3vw;
	}

	/* CAT PLAY CONTACT PAGE */
	/* Social Media */
	/* Sub-header */
	.cpco__sub-header--inner {
		font-size: 3vw;
	}

	.cpco__social-media--link > img {
		width: 35px;
		height: 35px;
	}

	.cpco__social-media--link > div {
		font-size: 1.6em;
	}
}

@media only screen and (min-width : 580px) {

	/* CAT PLAY HOME PAGE */
	/* Page Links */
	.cpho__page-link-text {
		font-size: 4.8em;
	}

	/* CAT PLAY CONTACT PAGE */
	/* Methods */
	.cpco__methods--header > div {
		font-size: 5vw;
	}

	.cpco__methods--subheader > div {
		font-size: 1.6em;
	}

	/* Social Media */
	.cpco__social-media--link > img {
		width: 40px;
		height: 40px;
	}

	.cpco__social-media--link > div {
		font-size: 2em;
	}
}

@media only screen and (min-width : 680px) {

	/* CAT PLAY HOME PAGE */
	/* Page Links */
	.cpho__page-link-text {
		font-size: 5.5em;
	}

	/* CAT PLAY CONTACT PAGE */
	/* Methods */
	.cpco__contact .error-box {
		font-size: 2em;
	}

}

@media only screen and (min-width : 768px) {

	/* CAT PLAY HOME PAGE */
	/* Page Links */
	.cpho__page-link-text {
		font-size: 6.4em;
	}

	/* Footer */
	.cpho__copyright-notice {
		font-size: 1.5vw;
	}

}

@media only screen and (min-width : 900px) {

	/* CAT PLAY HOME PAGE */
	/* Page Links */
	.cpho__page-link-text {
		font-size: 7.5em;
	}

	/* CAT PLAY CONTACT PAGE */
	/* Methods */
	.cpco__methods--header > div {
		font-size: 4vw;
	}
}

@media only screen and (min-width : 992px) {

	/* CAT PLAY HOME PAGE */
	/* Page Links */
	.cpho__page-link-text {
		font-size: 8em;
	}

	/* CAT PLAY CONTACT PAGE */
	/* Methods */
	.cpco__methods--header > div {
		font-size: 3vw;
	}
}

@media only screen and (min-width : 1500px) {

	/* CAT PLAY CONTACT PAGE */
	/* Methods */
	.cpco__methods--header > div {
		font-size: 2.4vw;
	}

}

/* Miscellaneous */
.debug_dump {   
	clear: both;   
	float: left;   
	width: 100%;   
	margin-top: 45px;
	@include box_sizing; 
}

.bk-rd {
	background-color: red;
	opacity: 0.5;
} 

.bk-bl {
	background-color: blue;
	opacity: 0.5;
} 

.bk-gn {
	background-color: green;
	opacity: 0.5;
} 

.bk-yl {
	background-color: yellow;
	opacity: 0.5;
} 



.x__pages {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

