@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {   
	box-sizing:         border-box;   
}

/* FONTS */
/* Load external */
@import url('https://fonts.googleapis.com/css?family=Coming+Soon');

/* Font family definitions */
$cp__header--font-family: 'Coming Soon', Arial, sans-serif;
$cp__content--font-family: Arial, Helvetica, sans-serif;

/* Mobile-first fonts
(font-style [font-variant] font-weight font-size/line-height font-family)
*/
$cpho__logo--font: normal bold 50px/100% $cp__content--font-family;
$cpho__header--font: normal 900 3em/100% $cp__header--font-family;

$cpco__header--font: normal 900 3em/100% $cp__header--font-family;
$cpco__content--font: normal 900 3em/100% $cp__content--font-family;
$cpco__subheader--font: normal 900 3em/100% $cp__content--font-family;
$cpco__social-media-font: normal 900 3em/100% $cp__content--font-family;
$cpco__contact-font: normal 900 3em/100% $cp__content--font-family;

/* COLOURS */
$cp__background-colour: yellow;
$cp__foreground-colour: black;

$cpho__pages-link-image--background-colour: white;
$cpho__pages-link-image--border-colour--journal: blue;
$cpho__pages-link-image--border-colour--technical: green;
$cpho__pages-link-image--border-colour--contact: red;
$cpho__pages-link-text--colour: white;

$cpco__header-text--colour: white;
$cpco__subheader-text--colour: white;
$cpco__social-media-text--colour: white;
$cpco__contact-text--colour: white;

/* Universal */
html {
	width: 100%;
	height: 100%;
}

body {
	height: 100%;
	font-size: 100%;
	background-color: $cp__background-colour;
	color: $cp__foreground-colour;
}

* {
	margin: 0;
	padding: 0;
}

a, a:link, a.visited, a:hover, a:active {
	color: $cp__foreground-colour;
	text-decoration: none;
	outline: none;
}

h1, h2, h3, p {
	line-height: 1;
}

/* CAT PLAY HOME PAGE */
/* Parallax */
.cpho__parallax {
	-webkit-perspective: 100px;
	perspective: 100px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-perspective-origin-x: 100%;
	perspective-origin-x: 100%;
}

.cpho__parallax--group-1 {
	position: relative;
	height: 800px;
	width: 100vw;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	z-index: 1;
}

.cpho__parallax--group-2 {
	position: relative;
	width: 100vw;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	z-index: 2;
	-webkit-transform: translateY(-210px);
	transform: translateY(-210px);
}

.cpho__parallax--group-3 {
	position: relative;
	height:1200px;
	width: 100vw;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	z-index: 1;
	-webkit-transform: translateY(-210px);
	transform: translateY(-210px);
	background-image: url(image_path('cpho_cat_pirate_bk.jpg'));
}

.cpho__parallax--layer {
	position: absolute;
	height: 100vh;
	width: 100vw;
	-webkit-transform-origin-x: 100%;
	transform-origin-x: 100%;
}

.cpho__parallax--layer-0 {
	-webkit-transform: translateZ(-300px) scale(4);
	transform: translateZ(-300px) scale(4);
}

.cpho__parallax--layer-1 {
	-webkit-transform: translateZ(-250px) scale(3.5);
	transform: translateZ(-250px) scale(3.5);
}

.cpho__parallax--layer-2 {
	-webkit-transform: translateZ(-200px) scale(3);
	transform: translateZ(-200px) scale(3);
}

.cpho__parallax--layer-3 {
	-webkit-transform: translateZ(-150px) scale(2.5);
	transform: translateZ(-150px) scale(2.5);
}

.cpho__parallax--layer-4 {
	-webkit-transform: translateZ(-100px) scale(2);
	transform: translateZ(-100px) scale(2);
}

.cpho__parallax--layer-5 {
	-webkit-transform: translateZ(-50px) scale(1.5);
	transform: translateZ(-50px) scale(1.5);
}

.cpho__parallax--layer-6 {
	-webkit-transform: translateZ(0px) scale(1);
	transform: translateZ(0px) scale(1);
}

.cpho__parallax--layer > img { 
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	overflow: hidden;
}

/* Content container */
.cpho__content {
	background-color: $cp__background-colour;
}

/* Logo */
.cpho__header {
	height: 84px;
	width: 300px;
	position: absolute;
	left: 50%; /* Horizontally center the image; 50% - 1/2 width of image */
	-webkit-transform: translate(-50%, -588px);
	transform: translate(-50%, -588px);
}

.cpho__flex-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 300px;
}

.cpho__image {
	width: 67px;
}

.cpho__image img {
	max-width: 100%;
}

.cpho__text {
	font: $cpho__logo--font;
	width: 117px;
	height: 67px;
}

.cpho__cat {
	text-align: right;
	padding-right: 6px;
}

.cpho__play {
	padding-left: 6px;
}

/* Page Links */
.cpho__pages {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.cpho__pages-section {
	position: relative;
}

.cpho__pages-section > img {
	width: 98%;
	max-width: 992px;
}

.cpho__pages-section-journal {
	margin-top: 50px;
}

.cpho__pages-section-base {
	padding-bottom: 50px;
}

.cpho__pages-sign-label-container {
	position: absolute;
}

.cpho__pages-sign-label-container-journal {
	top: 9%;
	left: 22%;
	width: 57%;
	height: 67%;
}

.cpho__pages-sign-label-container-technical {
	top: 20%;
	left: 27%;
	width: 57%;
	height: 58%;
}

.cpho__pages-sign-label-container-contact {
	top: 19%;
	left: 24%;
	width: 52%;
	height: 58%;
}

.cpho__pages-image-container {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cpho__pages-image-container img {
	position: absolute;
	top: 50%;
	left: 50%;
	bottom: auto;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 90%;
}

.cpho__pages-image-container-odd {
	left: auto;
	right: 0;
}

.cpho__pages-image-container-even {
	left: 0;
	right: auto;
}

.cpho__pages-image-container-journal {
	width: 23%;
	height: 100%;
}

.cpho__pages-image-container-technical {
	width: 23%;
	height: 100%;
}

.cpho__pages-image-container-contact {
	width: 25.2%;
	height: 100%;
}

.cpho__pages-text {
	position: absolute;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font: $cpho__header--font;
	color: $cpho__pages-link-text--colour;
}

.cpho__pages-text-odd {
	left: 0;
	right: auto;
}

.cpho__pages-text-even {
	left: auto;
	right: 0;
}

/* CAT PLAY CONTACT PAGE */
/* Header */
.cpco__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.cpco__header--inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: black;
	border: 0.7vw solid red;
	border-radius: 1vw;
	margin: 1vw 0;
}

.cpco__header--inner > img {
	height: 10vw;
	padding: 1vw 0;
}

.cpco__header--inner > div {
	font: $cpco__header--font;
	color: $cpco__header-text--colour;
	padding: 1.5vw 2vw 0 0;
	font-size: 7vw;
}

/* Sub-header */
.cpco__sub-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.cpco__sub-header--inner {
	font: $cpco__content--font;
	font-style: italic;
	text-align: center;
	font-size: 15px;
	line-height: 1.2;
}

/* Methods */
.cpco__methods--container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.cpco__methods--row {
	width: 100%;
}

.cpco__methods--common {
	padding-top: 20px;
	padding-bottom: 20px;
}

.cpco__methods-section {
	width: 100%;
	padding: 20px 20px 20px 20px;
	background-color: green;
}

.cpco__methods--header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.cpco__methods--header > div {
	font: $cpco__header--font;
	color: $cpco__header-text--colour;
	font-size: 6vw;
	line-height: 1.5;
}

.cpco__methods--subheader {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.cpco__methods--subheader > div {
	font: $cpco__subheader--font;
	color: $cpco__subheader-text--colour;
	font-size: 1.2em;
	line-height: 1.5;
	margin-bottom: 20px;
}

/* Social Media */
.cpco__social-media-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.cpco__social-media--inner {
	margin-bottom: 10px;
}

.cpco__social-media--link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.cpco__social-media--link > img {
	width: 30px;
	height: 30px;
}

.cpco__social-media--link > div {
	font: $cpco__social-media-font;
	color: $cpco__social-media-text--colour;
	font-size: 1.1em;
	margin-left: 10px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: none;
	    -ms-hyphens: none;
	        hyphens: none;
	word-break: break-all;
}

/* Contact */
.cpco__contact .error-box {
	font: $cpco__contact-font;
	color: red;
	background-color: white;
	font-size: 1.5em;
	text-align: left;
	border: 3px solid red;
	padding: 5px;
	margin-bottom: 15px;
}

.cpco__contact .error-box ul {
	margin-left: 20px;
	margin-bottom: 0;
}

.cpco__contact .error-box li {
	text-align: left;
}

.cpco__contact .notice-box {
	font: $cpco__contact-font;
	color: $cpco__contact-text--colour;
	font-size: 2em;
	padding: 5px;
	text-align: center;
	border: 3px solid white;
	margin-bottom: 10px;
}

.cpco__contact .cpco__form-group-send {
	margin-bottom: 0;
}

.cpco__contact .cpco__btn-send {
	color: white;
	background-color: black;
	border-color: black;
}

/* MEDIA QUERIES */
@media only screen and (min-width : 400px) {

	/* CAT PLAY HOME PAGE */
	/* Page Links */
	.cpho__pages-text {
		font-size: 3.6em;
	}
}

@media only screen and (min-width : 480px) {

	/* CAT PLAY HOME PAGE */
	/* Page Links */
	.cpho__pages-text {
		font-size: 4em;
	}

	/* Sub-header */
	.cpco__sub-header--inner {
		font-size: 3vw;
	}

	/* CAT PLAY CONTACT PAGE */
	/* Social Media */
	.cpco__social-media--link > img {
		width: 35px;
		height: 35px;
	}

	.cpco__social-media--link > div {
		font-size: 1.6em;
	}
}

@media only screen and (min-width : 580px) {

	/* CAT PLAY HOME PAGE */
	/* Page Links */
	.cpho__pages-text {
		font-size: 5em;
	}

	/* CAT PLAY CONTACT PAGE */
	/* Methods */
	.cpco__methods--header > div {
		font-size: 5vw;
	}

	.cpco__methods--subheader > div {
		font-size: 1.6em;
	}

	/* Social Media */
	.cpco__social-media--link > img {
		width: 40px;
		height: 40px;
	}

	.cpco__social-media--link > div {
		font-size: 2em;
	}
}

@media only screen and (min-width : 680px) {

	/* CAT PLAY HOME PAGE */
	/* Page Links */
	.cpho__pages-text {
		font-size: 6em;
	}

	/* CAT PLAY CONTACT PAGE */
	/* Methods */
	.cpco__contact .error-box {
		font-size: 2em;
	}

}

@media only screen and (min-width : 768px) {

	/* CAT PLAY HOME PAGE */
	/* Page Links */
	.cpho__pages-text {
		font-size: 7em;
	}

}

@media only screen and (min-width : 900px) {

	/* CAT PLAY HOME PAGE */
	/* Page Links */
	.cpho__pages-text {
		font-size: 8em;
	}

	/* CAT PLAY CONTACT PAGE */
	/* Methods */
	.cpco__methods--header > div {
		font-size: 4vw;
	}
}

@media only screen and (min-width : 992px) {

	/* CAT PLAY HOME PAGE */
	/* Page Links */
	.cpho__pages-text {
		font-size: 9em;
	}

	/* CAT PLAY CONTACT PAGE */
	/* Methods */
	.cpco__methods--header > div {
		font-size: 3vw;
	}
}

@media only screen and (min-width : 1500px) {

	/* CAT PLAY CONTACT PAGE */
	/* Methods */
	.cpco__methods--header > div {
		font-size: 2.4vw;
	}

}

/* Miscellaneous */
.debug_dump {   
	clear: both;   
	float: left;   
	width: 100%;   
	margin-top: 45px;
	@include box_sizing; 
}

.bk-rd {
	background-color: red;
	opacity: 0.5;
} 

.bk-bl {
	background-color: blue;
	opacity: 0.5;
} 

.bk-gn {
	background-color: green;
	opacity: 0.5;
} 

.bk-yl {
	background-color: yellow;
	opacity: 0.5;
} 



