@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {   
	box-sizing:         border-box;   
}

/* FONTS */
/* Load external */
@import url('https://fonts.googleapis.com/css?family=Coming+Soon');

/* Font family definitions */
$cpho__logo--font-family: Arial, Helvetica, sans-serif;
$cpho__pages--font-family: 'Coming Soon', Arial, sans-serif;

/* Mobile-first fonts
(font-style [font-variant] font-weight font-size/line-height font-family)
*/
$cpho__logo--font: normal bold 50px/100% $cpho__logo--font-family;
$cpho__pages--font: normal 900 3em/100% $cpho__pages--font-family;

/* COLOURS */
$cpho__home-page--background-colour: yellow;
$cpho__home-page--foreground-colour: black;
$cpho__pages-link-image--background-colour: white;
$cpho__pages-link-image--border-colour--journal: blue;
$cpho__pages-link-image--border-colour--technical: green;
$cpho__pages-link-image--border-colour--contact: red;
$cpho__pages-link-text--colour: white;

/* Universal */
html {
	width: 100%;
	height: 100%;
}

body {
	height: 100%;
	font-size: 100%;
	background-color: $cpho__home-page--background-colour;
	color: $cpho__home-page--foreground-colour;
}

* {
	margin: 0;
	padding: 0;
}

a, a:link, a.visited, a:hover, a:active {
	color: $cpho__home-page--foreground-colour;
	text-decoration: none;
	outline: none;
}

h1, h2, h3, p {
	line-height: 1;
}

/* Parallax */
.cpho__parallax {
	-webkit-perspective: 100px;
	perspective: 100px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-perspective-origin-x: 100%;
	perspective-origin-x: 100%;
}

.cpho__parallax--group-1 {
	position: relative;
	height: 800px;
	width: 100vw;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	z-index: 1;
}

.cpho__parallax--group-2 {
	position: relative;
	width: 100vw;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	z-index: 2;
	-webkit-transform: translateY(-210px);
	transform: translateY(-210px);
}

.cpho__parallax--group-3 {
	position: relative;
	height:1200px;
	width: 100vw;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	z-index: 1;
	-webkit-transform: translateY(-210px);
	transform: translateY(-210px);
	background-image: url(image_path('cpho_cat_pirate_bk.jpg'));
}

.cpho__parallax--layer {
	position: absolute;
	height: 100vh;
	width: 100vw;
	-webkit-transform-origin-x: 100%;
	transform-origin-x: 100%;
}

.cpho__parallax--layer-0 {
	-webkit-transform: translateZ(-300px) scale(4);
	transform: translateZ(-300px) scale(4);
}

.cpho__parallax--layer-1 {
	-webkit-transform: translateZ(-250px) scale(3.5);
	transform: translateZ(-250px) scale(3.5);
}

.cpho__parallax--layer-2 {
	-webkit-transform: translateZ(-200px) scale(3);
	transform: translateZ(-200px) scale(3);
}

.cpho__parallax--layer-3 {
	-webkit-transform: translateZ(-150px) scale(2.5);
	transform: translateZ(-150px) scale(2.5);
}

.cpho__parallax--layer-4 {
	-webkit-transform: translateZ(-100px) scale(2);
	transform: translateZ(-100px) scale(2);
}

.cpho__parallax--layer-5 {
	-webkit-transform: translateZ(-50px) scale(1.5);
	transform: translateZ(-50px) scale(1.5);
}

.cpho__parallax--layer-6 {
	-webkit-transform: translateZ(0px) scale(1);
	transform: translateZ(0px) scale(1);
}

.cpho__parallax--layer > img { 
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	overflow: hidden;
}

/* Content container */
.cpho__content {
	background-color: $cpho__home-page--background-colour;
}

/* Logo */
.cpho__header {
	height: 84px;
	width: 300px;
	position: absolute;
	left: 50%; /* Horizontally center the image; 50% - 1/2 width of image */
	-webkit-transform: translate(-50%, -588px);
	transform: translate(-50%, -588px);
}

.cpho__flex-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 300px;
}

.cpho__image {
	width: 67px;
}

.cpho__image img {
	max-width: 100%;
}

.cpho__text {
	font: $cpho__logo--font;
	width: 117px;
	height: 67px;
}

.cpho__cat {
	text-align: right;
	padding-right: 6px;
}

.cpho__play {
	padding-left: 6px;
}

/* Pages */
.cpho__pages {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.cpho__pages-section {
	position: relative;
}

.cpho__pages-section > img {
	width: 98%;
	max-width: 992px;
}

.cpho__pages-section-journal {
	margin-top: 50px;
}

.cpho__pages-section-base {
	padding-bottom: 50px;
}

.cpho__pages-sign-label-container {
	position: absolute;
}

.cpho__pages-sign-label-container-journal {
	top: 9%;
	left: 22%;
	width: 57%;
	height: 67%;
}

.cpho__pages-sign-label-container-technical {
	top: 20%;
	left: 27%;
	width: 57%;
	height: 58%;
}

.cpho__pages-sign-label-container-contact {
	top: 19%;
	left: 24%;
	width: 52%;
	height: 58%;
}

.cpho__pages-image-container {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	border: 1vw solid transparent;
	border-radius: 1vw;
}

.cpho__pages-image-container img {
	position: absolute;
	top: 50%;
	left: 50%;
	bottom: auto;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 70%;
}

.cpho__pages-image-container-odd {
	left: auto;
	right: 0;
}

.cpho__pages-image-container-even {
	left: 0;
	right: auto;
}

.cpho__pages-image-container-journal {
	width: 23%;
	height: 100%;
}

.cpho__pages-image-container-technical {
	width: 23%;
	height: 100%;
}

.cpho__pages-image-container-contact {
	width: 25.2%;
	height: 100%;
}

.cpho__pages-link:hover .cpho__pages-image-container-journal {
	border-color: $cpho__pages-link-image--border-colour--journal;
	background-color: $cpho__pages-link-image--background-colour;
}

.cpho__pages-link:hover .cpho__pages-image-container-technical {
	border-color: $cpho__pages-link-image--border-colour--technical;
	background-color: $cpho__pages-link-image--background-colour;
}

.cpho__pages-link:hover .cpho__pages-image-container-contact {
	border-color: $cpho__pages-link-image--border-colour--contact;
	background-color: $cpho__pages-link-image--background-colour;
}

.cpho__pages-text {
	position: absolute;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font: $cpho__pages--font;
	color: $cpho__pages-link-text--colour;
}

.cpho__pages-text-odd {
	left: 0;
	right: auto;
}

.cpho__pages-text-even {
	left: auto;
	right: 0;
}

/* Miscellaneous */
.debug_dump {   
	clear: both;   
	float: left;   
	width: 100%;   
	margin-top: 45px;
	@include box_sizing; 
}

.bk-rd {
  background-color: red;
  opacity: 0.5;
} 

.bk-bl {
  background-color: blue;
  opacity: 0.5;
} 

.bk-gn {
  background-color: green;
  opacity: 0.5;
} 

.bk-yl {
  background-color: yellow;
  opacity: 0.5;
} 

/* MEDIA QUERIES */
@media only screen and (min-width : 400px) {

	.cpho__parallax--group-2 {
	}

	.cpho__pages-text {
		font-size: 3.6em;
	}
}

@media only screen and (min-width : 480px) {

	.cpho__pages-text {
		font-size: 4.2em;
	}
}

@media only screen and (min-width : 580px) {

	.cpho__pages-text {
		font-size: 5em;
	}
}

@media only screen and (min-width : 680px) {

	.cpho__pages-text {
		font-size: 6em;
	}
}

@media only screen and (min-width : 768px) {

	.cpho__pages-text {
		font-size: 7em;
	}
}

@media only screen and (min-width : 900px) {

	.cpho__pages-text {
		font-size: 8em;
	}
}

@media only screen and (min-width : 992px) {

	.cpho__pages-text {
		font-size: 9em;
	}
}



